@import url("dropdown.css");

/* product style*/
aside.col-margin{
	margin-left: 20px;
    margin-right: -30px;
}
aside.col-table{
	margin-left: 20px;
    margin-right: -30px;
}
aside.col-sliders{
	margin-left: 60px;
}
aside.col-compare.left-sidebar{
	margin-top: 224px;
	margin-left: 50px;
}
aside.col-compare-product{
	margin-left:30px;
}
.panel-product{
	margin-left: 10px;
}
.input-price{
	margin: 5px;
    padding: 5px;
    width: 100px !important;
}
.slider-price{
	margin: 5px;
    padding: 5px;
}
article.product{
    margin-left: 12px;
    margin-right: -30px;
    width: 220px;
}
@media (max-width: 479px) {
	article.product{
    	margin: 0;
    	width: 90%;
	}
}
button.like{
	margin-top: -34px;
	background: lightgray;
    border: 1px solid darkgray;
    width: 31px;
    height: 31px;
    border-radius: 100%;
}
span.like{
	margin-left: -2px;
}
.checkbox.compare{
	width: 10%;
}
input.compare{
	margin-left: 0 !important;
}
a.compare{
	color: #0080c0;
}
.compare a:hover{
	color: #808080;
}

/* header styles */
.breadcrumb.transparent-back{
	background-color: white;
	color: #0080c0;
}
.breadcrumb.transparent-back a:link{
	color: #428bca !important;
}
.breadcrumb.transparent-back a:visited{
	color: #428bca !important;
}
.nav-tabs > li > a{
	border: thin solid;
	border-radius:0;
    border-color: #c0c0c0;  
    color: #808080; 
}