@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		/* from http://fonts.gstatic.com/s/roboto/v15/3qPfgRJhy_o6IWGjH-pPcw.eot */
		url('../fonts/Roboto_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/grlryt2bdKIyfMSOhzd1eA.woff */
		url('../fonts/Roboto_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/N5Lbe1fynPA1KT8BFvAiGw.woff2 */
		url('../fonts/Roboto_400.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=sMC5TahK-YnY7SbPx1rDHg&skey=a0a0114a1dcab3ac&v=v15#Roboto */
		url('../fonts/Roboto_400.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/W5F8_SL0XFawnjxHGsZjJA.ttf */
		url('../fonts/Roboto_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src:
		local('Roboto Thin'),
		local('Roboto-Thin'),
		/* from http://fonts.gstatic.com/s/roboto/v15/FWKdBrRK-zlDhuZDh7BzmA.eot */
		url('../fonts/Roboto_100.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/MMDEOSa6i6T9gBocjYCJkQ.woff */
		url('../fonts/Roboto_100.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/xookM-L8yP33NJ7966OySA.woff2 */
		url('../fonts/Roboto_100.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=7gMkvHGyyrZIFdwtyl-psw&skey=5473b731ec7fc9c1&v=v15#Roboto */
		url('../fonts/Roboto_100.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/7MygqTe2zs9YkP0adA9QQQ.ttf */
		url('../fonts/Roboto_100.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 100;
	src:
		local('Roboto Thin Italic'),
		local('Roboto-ThinItalic'),
		/* from http://fonts.gstatic.com/s/roboto/v15/YjhDjpplIK_VzI5b9eobkPesZW2xOQ-xsNqO47m55DA.eot */
		url('../fonts/Roboto_100italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/jB4HYzUnEmLtjz-UHQe60fesZW2xOQ-xsNqO47m55DA.woff */
		url('../fonts/Roboto_100italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/lFe6iyon-IsILqabEIIN8vesZW2xOQ-xsNqO47m55DA.woff2 */
		url('../fonts/Roboto_100italic.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=8COCNXq6_oTOZsuNFMpbHPesZW2xOQ-xsNqO47m55DA&skey=8f53aa2e7deadc4a&v=v15#Roboto */
		url('../fonts/Roboto_100italic.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/T1xnudodhcgwXCmZQ490TPesZW2xOQ-xsNqO47m55DA.ttf */
		url('../fonts/Roboto_100italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Light'),
		local('Roboto-Light'),
		/* from http://fonts.gstatic.com/s/roboto/v15/1u3JdwK5gXssX_mKAkS1jQ.eot */
		url('../fonts/Roboto_300.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/d-QWLnp4didxos_6urzFtg.woff */
		url('../fonts/Roboto_300.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/El-bgsteBznJNL5pgUfFLA.woff2 */
		url('../fonts/Roboto_300.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=TSynhi0cwS84RjyEABwN_A&skey=11ce8ad5f54705ca&v=v15#Roboto */
		url('../fonts/Roboto_300.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/dtpHsbgPEm2lVWciJZ0P-A.ttf */
		url('../fonts/Roboto_300.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	src:
		local('Roboto Light Italic'),
		local('Roboto-LightItalic'),
		/* from http://fonts.gstatic.com/s/roboto/v15/iE8HhaRzdhPxC93dOdA05_Y6323mHUZFJMgTvxaG2iE.eot */
		url('../fonts/Roboto_300italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/iE8HhaRzdhPxC93dOdA05z8E0i7KZn-EPnyo3HZu7kw.woff */
		url('../fonts/Roboto_300italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/iE8HhaRzdhPxC93dOdA051tXRa8TVwTICgirnJhmVJw.woff2 */
		url('../fonts/Roboto_300italic.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=iE8HhaRzdhPxC93dOdA055bd9NUM7myrQQz30yPaGQ4&skey=8f644060176e1f7e&v=v15#Roboto */
		url('../fonts/Roboto_300italic.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/iE8HhaRzdhPxC93dOdA056CWcynf_cDxXwCLxiixG1c.ttf */
		url('../fonts/Roboto_300italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src:
		local('Roboto Italic'),
		local('Roboto-Italic'),
		/* from http://fonts.gstatic.com/s/roboto/v15/CY9l2Y7cmJ_EJo4ufNO-3Q.eot */
		url('../fonts/Roboto_400italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/biUEjW7P-lfzIZFXrcy-wQ.woff */
		url('../fonts/Roboto_400italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/UbXx3E_TVHvOc89N28P2jA.woff2 */
		url('../fonts/Roboto_400italic.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=-gWJ2MQJcaDVBtQEMWp_NA&skey=c608c610063635f9&v=v15#Roboto */
		url('../fonts/Roboto_400italic.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/hcKoSgxdnKlbH5dlTwKbow.ttf */
		url('../fonts/Roboto_400italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src:
		local('Roboto Medium'),
		local('Roboto-Medium'),
		/* from http://fonts.gstatic.com/s/roboto/v15/-VEgAijTRjK9-9-3hLTcfw.eot */
		url('../fonts/Roboto_500.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/7KXg6nyyqN8gyMoNwQ7aOQ.woff */
		url('../fonts/Roboto_500.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/Op9nD2u96-RO01_6Io91EA.woff2 */
		url('../fonts/Roboto_500.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=kAK2LA-p18lfqmdDhVPAIQ&skey=ee881451c540fdec&v=v15#Roboto */
		url('../fonts/Roboto_500.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/Uxzkqj-MIMWle-XP2pDNAA.ttf */
		url('../fonts/Roboto_500.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	src:
		local('Roboto Medium Italic'),
		local('Roboto-MediumItalic'),
		/* from http://fonts.gstatic.com/s/roboto/v15/daIfzbEw-lbjMyv4rMUUTvY6323mHUZFJMgTvxaG2iE.eot */
		url('../fonts/Roboto_500italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/daIfzbEw-lbjMyv4rMUUTj8E0i7KZn-EPnyo3HZu7kw.woff */
		url('../fonts/Roboto_500italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/daIfzbEw-lbjMyv4rMUUTltXRa8TVwTICgirnJhmVJw.woff2 */
		url('../fonts/Roboto_500italic.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=daIfzbEw-lbjMyv4rMUUTpbd9NUM7myrQQz30yPaGQ4&skey=c985e17098069ce0&v=v15#Roboto */
		url('../fonts/Roboto_500italic.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/daIfzbEw-lbjMyv4rMUUTqCWcynf_cDxXwCLxiixG1c.ttf */
		url('../fonts/Roboto_500italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src:
		local('Roboto Bold'),
		local('Roboto-Bold'),
		/* from http://fonts.gstatic.com/s/roboto/v15/tdj9E4ZS3kA_jwupFDm6BQ.eot */
		url('../fonts/Roboto_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/vxNK-E6B13CyehuDCmvQvw.woff */
		url('../fonts/Roboto_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/tZdhd9Zzj0I2MwoD56osIw.woff2 */
		url('../fonts/Roboto_700.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=z9HS6g-Cdj_11n1gWk1lHA&skey=c06e7213f788649e&v=v15#Roboto */
		url('../fonts/Roboto_700.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/bdHGHleUa-ndQCOrdpfxfw.ttf */
		url('../fonts/Roboto_700.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src:
		local('Roboto Bold Italic'),
		local('Roboto-BoldItalic'),
		/* from http://fonts.gstatic.com/s/roboto/v15/owYYXKukxFDFjr0ZO8NXh_Y6323mHUZFJMgTvxaG2iE.eot */
		url('../fonts/Roboto_700italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/owYYXKukxFDFjr0ZO8NXhz8E0i7KZn-EPnyo3HZu7kw.woff */
		url('../fonts/Roboto_700italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/owYYXKukxFDFjr0ZO8NXh1tXRa8TVwTICgirnJhmVJw.woff2 */
		url('../fonts/Roboto_700italic.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=owYYXKukxFDFjr0ZO8NXh5bd9NUM7myrQQz30yPaGQ4&skey=dd030d266f3beccc&v=v15#Roboto */
		url('../fonts/Roboto_700italic.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/owYYXKukxFDFjr0ZO8NXh6CWcynf_cDxXwCLxiixG1c.ttf */
		url('../fonts/Roboto_700italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src:
		local('Roboto Black'),
		local('Roboto-Black'),
		/* from http://fonts.gstatic.com/s/roboto/v15/ZYoma4aXcynhuZmqBlHElg.eot */
		url('../fonts/Roboto_900.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/1_sFLBJZ_MiiGcnkjN_Mgg.woff */
		url('../fonts/Roboto_900.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/bHb1QXRvBr78bu2XNI1xvw.woff2 */
		url('../fonts/Roboto_900.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=B2hksaIOSu3m7Z45q1wLNg&skey=934406f772f9777d&v=v15#Roboto */
		url('../fonts/Roboto_900.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/H1vB34nOKWXqzKotq25pcg.ttf */
		url('../fonts/Roboto_900.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 900;
	src:
		local('Roboto Black Italic'),
		local('Roboto-BlackItalic'),
		/* from http://fonts.gstatic.com/s/roboto/v15/b9PWBSMHrT2zM5FgUdtu0fY6323mHUZFJMgTvxaG2iE.eot */
		url('../fonts/Roboto_900italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/roboto/v15/b9PWBSMHrT2zM5FgUdtu0T8E0i7KZn-EPnyo3HZu7kw.woff */
		url('../fonts/Roboto_900italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/roboto/v15/b9PWBSMHrT2zM5FgUdtu0VtXRa8TVwTICgirnJhmVJw.woff2 */
		url('../fonts/Roboto_900italic.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=b9PWBSMHrT2zM5FgUdtu0Zbd9NUM7myrQQz30yPaGQ4&skey=b80be3241fe40325&v=v15#Roboto */
		url('../fonts/Roboto_900italic.svg#Roboto') format('svg'),
		/* from http://fonts.gstatic.com/s/roboto/v15/b9PWBSMHrT2zM5FgUdtu0aCWcynf_cDxXwCLxiixG1c.ttf */
		url('../fonts/Roboto_900italic.ttf') format('truetype');
}
