body {
  font-family: Roboto, sans-serif;
  color: #758385;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
}

h1 {
  margin-bottom: 20px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 45px;
  font-weight: 500;
}

h3 {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-bottom: 20px;
  color: #34495e;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-bottom: 20px;
  padding-right: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.color-box {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 2px;
  background-color: #eee;
}

.color-box.dark-slate-gray {
  background-color: #34495e;
}

.color-box.dark-slate-gray-2 {
  background-color: #2c3e50;
}

.color-box.gold {
  background-color: #f1c40f;
}

.color-box.orange {
  background-color: #f39c12;
}

.color-box.tomato {
  background-color: #e74c3c;
}

.color-box.firebrick {
  background-color: #b22222;
}

.color-box.dark-gray {
  background-color: #95a5a6;
}

.color-box.dark-gray-2 {
  background-color: #758385;
}

.color-box.dark-gray-3 {
  background-color: #5b6b6e;
}

.text-color-hex {
  color: #fff;
  font-size: 13px;
  line-height: 13px;
}

.section-holder {
  margin-bottom: 80px;
  padding: 60px 30px;
}

.section-holder.header {
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2c3e50;
  background-image: url('../images/cs-bk.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.section-holder.header.case-study-colour {
  background-color: #3facb0;
  background-image: url('../images/cs-bk.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-holder.header.contact {
  background-color: #f39c12;
  background-image: url('../images/contact-bk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.section-holder.no-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.section-holder.case-study-section {
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: hsla(184, 9%, 62%, .09);
}

.section-holder.home-jumpoff {
  margin-bottom: 0px;
}

.section-holder.footer {
  margin-bottom: 0px;
  background-color: hsla(184, 9%, 62%, .09);
}

.section-holder.footer.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: hsla(184, 9%, 62%, .29);
  color: #5b6b6e;
}

.section-holder.no-bottom-margin {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

._w-input {
  height: 45px;
  margin-bottom: 30px;
  border: 2px solid #e9ecec;
  border-radius: 2px;
  background-color: #e9ecec;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

._w-input:hover {
  border-color: hsla(184, 9%, 62%, .2);
}

._w-input:focus {
  border-color: hsla(184, 9%, 62%, .49);
}

.textarea {
  height: auto;
  min-height: 200px;
}

.button {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 2px;
  background-color: #f39c12;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #e74c3c;
}

.navbar {
  margin-bottom: 30px;
  background-color: transparent;
}

.hero-title {
  margin-bottom: 10px;
  color: #fff;
  font-size: 62px;
  line-height: 70px;
  font-weight: 300;
}

.hero-h2 {
  margin-bottom: 10px;
  color: hsla(0, 0%, 100%, .45);
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.site-title {
  margin-bottom: 0px;
  padding: 13px 15px;
  border-style: solid;
  border-width: 3px;
  border-color: hsla(0, 0%, 100%, .49);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}

.site-title:hover {
  border-color: #fff;
}

.nav-link {
  margin-left: 40px;
  padding: 0px;
  border-bottom: 2px solid hsla(0, 0%, 100%, .2);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: hsla(0, 0%, 100%, .7);
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link:hover {
  border-bottom-color: #fff;
  color: #fff;
}

.nav-link.w--current {
  border-bottom-color: #fff;
  color: #fff;
}

.nav-link.dropdown {
  margin-left: 0px;
  padding-right: 20px;
}

.nav-link.dropdown.w--open {
  margin-left: 0px;
}

._w-nav-overlay {
  position: relative;
  display: block;
  overflow: visible;
  margin-top: 9px;
  margin-bottom: 9px;
  float: right;
}

.mask {
  display: block;
}

.slider {
  height: auto;
  background-color: transparent;
}

.slider-image {
  width: 100%;
}

.larger-container {
  display: block;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.arrow {
  width: 55px;
  height: 55px;
  border: 5px solid #fff;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  color: #95a5a6;
  font-size: 45px;
}

.arrow:hover {
  border-color: hsla(184, 9%, 62%, .09);
  color: #e74c3c;
}

.margin-bottom-medium {
  margin-bottom: 20px;
}

.case-study-holder {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
  background-color: #95a5a6;
  background-image: url('../images/plus-3-icon.svg');
  background-position: 50% 50%;
  background-size: 43px;
  background-repeat: no-repeat;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.case-study-holder:hover {
  background-size: 80px;
}

.cs-img {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  background-image: url('../images/grafik_450-267.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.cs-img.bk2 {
  background-image: url('../images/images.jpeg');
}

.cs-img.bk3 {
  background-image: url('../images/5.jpg');
}

.cs-img.bk4 {
  background-image: url('../images/640x0_p186m5ouu9hpd9nt1art1q6p83a3.jpg');
}

.cs-img.bk5 {
  background-image: url('../images/640x0_p18ueh0vq41er41n1rinqgs31vka7.jpg');
}

.cs-img.bk6 {
  background-image: url('../images/640x0_p18ueh2pbm1sh31ustr31ff9ck1h.jpg');
}

.cs-img.bk7 {
  background-image: url('../images/640x0_p18ueh0s1qdl012ojjee2pmjp85.jpg');
}

.cs-img.bk8 {
  background-image: url('../images/640x0_p18uegn1qf1crj71j1is1t5o2mub.jpg');
}

.cs-img.bk9 {
  background-image: url('../images/640x0_p186pjrhnat321vhk1h7f1ntg84va.JPG');
}

.xsmall {
  font-size: 14px;
  line-height: 22px;
}

.link {
  display: inline;
  padding-bottom: 1px;
  border-bottom: 2px solid rgba(243, 156, 18, .4);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #34495e;
  font-weight: 500;
  text-decoration: none;
}

.link:hover {
  border-bottom-color: #f39c12;
}

.link.hero-link {
  padding-bottom: 3px;
  border-bottom-width: 4px;
  border-bottom-color: hsla(0, 0%, 100%, .15);
  color: #fff;
}

.link.hero-link:hover {
  border-bottom-color: #fff;
}

.link.paginate {
  display: inline-block;
  padding: 2px 10px 0px;
  background-color: hsla(0, 0%, 93%, .29);
}

.link.paginate:hover {
  background-color: #eee;
}

.bottom-line-holder.side-menu-widget {
  margin-bottom: 40px;
}

.meta-holder {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.small {
  font-size: 15px;
  line-height: 26px;
}

.footer-li {
  margin-bottom: 10px;
}

.case-study-row {
  margin-bottom: 40px;
}

.cs-link-holder {
  margin-bottom: 40px;
}

.cs-paragraph {
  padding-top: 30px;
  padding-right: 0px;
  border-top: 3px solid #eee;
}

.article {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 2px solid #eee;
}

.article-img {
  width: 100%;
  margin-bottom: 20px;
}

.block-link {
  display: block;
}

.align-right {
  text-align: right;
}

.text-holder {
  max-width: 700px;
}

.dropdown-icon {
  margin-right: 0px;
}

.dropdown-list.w--open {
  padding-top: 10px;
  background-color: #fff;
}

.dropdown {
  margin-left: 40px;
}

.dropdown-link {
  padding-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
  clear: both;
  color: #5b6b6e;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
}

.dropdown-link.w--current {
  display: inline;
  color: #5b6b6e;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .section-holder {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section-holder.header {
    margin-bottom: 0px;
    padding: 30px;
  }
  .section-holder.case-study-section {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .nav-link {
    position: relative;
  }
  .cs-link-holder {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 26px;
  }
  .dropdown-link.w--current {
    color: #5b6b6e;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 35px;
  }
  h2 {
    font-size: 25px;
    line-height: 35px;
  }
  h3 {
    font-size: 20px;
    line-height: 25px;
  }
  p {
    margin-bottom: 20px;
  }
  .section-holder {
    padding: 20px;
  }
  .section-holder.header {
    margin-bottom: 0px;
    padding: 30px 20px;
  }
  .section-holder.case-study-section {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .button {
    padding: 5px 15px;
    font-size: 14px;
  }
  .navbar {
    overflow: visible;
    height: 48px;
    margin-bottom: 20px;
  }
  .hero-title {
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 45px;
  }
  .hero-h2 {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 25px;
  }
  .nav-link {
    margin-bottom: 30px;
    margin-left: 0px;
    padding-right: 90px;
    padding-left: 20px;
    border-width: 0px;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
  }
  .nav-link.dropdown {
    padding-left: 0px;
  }
  .nav-link.dropdown.w--open {
    margin-bottom: 15px;
  }
  .menu-button {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 999999;
    width: 50px;
    height: 48px;
    min-width: 0px;
    padding: 0px;
    background-color: #fff;
    background-image: url('../images/menu-icon.svg');
    background-position: 50% 50%;
    background-size: 21px;
    background-repeat: no-repeat;
  }
  .menu-button.w--open {
    background-color: #fff;
    background-image: url('../images/close-icon.svg');
  }
  .brand {
    padding-left: 0px;
  }
  .brand.w--current {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999999;
  }
  .nav-menu {
    position: static;
    background-color: #34495e;
  }
  .container {
    overflow: visible;
  }
  ._w-nav-overlay {
    position: fixed;
    overflow: visible;
    width: 100%;
    min-width: 100%;
    margin-top: 0px;
    padding-top: 30px;
  }
  .arrow {
    width: 40px;
    height: 40px;
    font-size: 30px;
  }
  .case-study-holder {
    height: 170px;
  }
  .bottom-line-holder {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid hsla(184, 9%, 62%, .2);
  }
  .bottom-line-holder.side-menu-widget {
    margin-bottom: 20px;
  }
  .cs-link-holder {
    margin-bottom: 20px;
  }
  .cs-paragraph {
    margin-top: 20px;
    padding-top: 20px;
  }
  .menu-text {
    display: none;
  }
  .cs-img-single {
    width: 100%;
  }
  .dropdown-icon {
    position: relative;
    display: inline-block;
  }
  .dropdown-list.w--open {
    margin-bottom: 20px;
    margin-left: -20px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .dropdown {
    margin-bottom: 20px;
    margin-left: 0px;
    padding-left: 20px;
  }
  .dropdown-link {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
  .dropdown-text {
    display: inline-block;
    margin-right: 20px;
  }
}

@media (max-width: 479px) {
  .case-study-holder {
    height: 140px;
  }
}

